@import "../../assets/stylesheets/_variables.scss";

.field-choose-size {
  display: block;
  // align-items: center;
  // justify-content: space-between;
  color: $color-gray-dark;
  font-size: $font-size-16;
  margin-bottom: 40px;

  &__button {
    display: flex;
    justify-content: flex-start;
    margin-top: 13px;
  }

  &__size-button {
    width: 44px;
    height: 44px;
    border-radius: 50px;
    margin-right: 10px;
    font-size: $font-size-18;
    background-color: $color-gray-bkg;
    border: 2px solid $color-primary;
    cursor: pointer;

    &--click {
      background: $color-primary;
      color: $color-white;
    }
  }
}

@media (min-width: 1024px) {
  .field-choose-size {
    margin-bottom: 40px;
  }
}
