@import "../../assets/stylesheets/_variables.scss";

.field-choose-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $color-gray-dark;
  font-size: $font-size-16;
  margin-bottom: 40px;

  &__button {
    width: 45%;
    display: flex;
    justify-content: space-around;
  }

  &__size-button {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: $font-size-18;
    background-color: $color-gray-bkg;
    border: 2px solid $color-primary;
    cursor: pointer;

    &--click {
      background: $color-primary;
      color: $color-white;
    }
  }
}

@media (min-width: 1024px) {
  .field-choose-size {
    margin-bottom: 40px;
  }
}
