@import "../../assets/stylesheets/_variables.scss";

.error-block {
  margin: 0 auto;
  padding: 20% 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: $font-size-32;

  &--highlight {
    color: $color-primary;
    font-size: $font-size-62;
    text-transform: uppercase;
    font-weight: 600;
  }
}