@import "../../assets/stylesheets/_variables.scss";

.add-pack {
  display: flex;
  justify-content: center;

  &__button {
    border-radius: 50px;
    width: 337px;
    height: 56px;
    text-transform: uppercase;
    font-size: $font-size-16;

    border: none;
    background-color: $color-primary;
    color: $color-white;
  }
}
