@import '../../assets/stylesheets/_variables.scss';

.itens-count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  span {
    height: 1px;
    width: 50%;

    background-color: $color-gray-light;
  }

  p {
    padding: 0 30px;
    width: 8%;
    text-align: center;
    font-weight: 600;

    color: $color-gray-dark;
  }
}

@media (max-width: 768px) {
  .itens-count {
    p {
      width: 10%;
    }
  }
}

@media (max-width: 411px) {
  .itens-count {
    p {
      width: 40%;
    }
  }
}
