@import "../../assets/stylesheets/_variables.scss";

.product-catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 50px 20px;
  margin-bottom: 50px;
}

.container {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (min-width: $breakpoint-tablet) {
  .product-catalog {
    grid-template-columns: repeat(4, 1fr);
  }
}
