@import "../../assets/stylesheets/_variables.scss";

.product-title {
  color: $color-black;
  font-weight: 500;
  margin: 0 0 5px;
  text-transform: uppercase;

  &--small {
    font-size: $font-size-12;
  }

  &--medium {
    font-size: $font-size-18;
    font-weight: 600;
  }

  &--large {
    font-size: $font-size-20;
    font-weight: 600;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    &--small {
      font-size: $font-size-14;
    }

    &--medium {
      font-size: $font-size-16;
    }

    &--large {
      font-size: $font-size-24;
      font-weight: 600;
    }
  }
}
