@import "../../assets/stylesheets/_variables.scss";

.product-title {
  color: $color-black;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;

  &--small {
    font-size: $font-size-10;
  }

  &--medium {
    font-size: $font-size-18;
  }

  &--large {
    font-size: $font-size-20;
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    &--small {
      font-size: $font-size-14;
    }

    &--medium {
      font-size: $font-size-16;
    }

    &--large {
      font-size: $font-size-24;
    }
  }
}
