@import "../../assets/stylesheets/_variables.scss";

.card {
  text-align: center;
  cursor: pointer;

  &__img {
    position: relative;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__discount {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 45px;
    height: 23px;
    top: 10px;
    left: 13px;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-white;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }

  &__description {
    padding-top: 1rem;
    text-align: center;
  }

  &__price-old {
    margin-right: 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $color-gray-dark;
    text-decoration-line: line-through;
  }
}
