@import "../../assets/stylesheets/_variables.scss";

.card {
  margin: 0 10px 20px;
  text-align: center;

  &__img {
    position: relative;

    img {
      height: auto;
      max-width: 170px;
    }
  }

  &__discount {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 45px;
    height: 23px;
    top: 10px;
    left: 13px;
    border-radius: 5px;
    background-color: $color-primary;
    color: $color-white;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
  }

  &__description {
    padding-top: 1rem;
    text-align: center;
  }

  &__price-old {
    margin-right: 6px;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: $color-gray-dark;
    text-decoration-line: line-through;
  }

  @media only screen and (min-width: 768px) {
    margin: 0 25px 56px;

    &__img {
      img {
        max-width: 265px;
      }
    }
  }
}
