@import "../../assets/stylesheets/_variables.scss";

.subtotal {
  height: 67.29px;
  background-color: $color-primary;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__value {
    font-size: $font-size-18;
    font-weight: 600;
    text-align: center;
    color: $color-white;
  }
}
