@import "../../assets/stylesheets/_variables.scss";

.modal {
  height: 100vh;
  width: 40%;
  background-color: $color-gray-bkg;
  padding: 20px;
  color: $color-black;
}

.overlay {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-primary-opacity;
  transition: opacity 0.2s ease;
}

.show {
  display: block;
}

.hide {
  display: none;
}
