@import "../../assets/stylesheets/_variables.scss";

.modal {
  height: 100vh;
  width: 100%;
  background-color: $color-gray-bkg;
  color: $color-black;
  overflow-y: auto;
  z-index: 1;
}

.overlay {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 99;
  background: $color-primary-opacity;
  transition: opacity 0.2s ease;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.cards-box {
  padding: 0 20px;
  margin-bottom: 60px;
}

.subtotal {
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width: $breakpoint-desktop) {
  .modal {
    width: 40%;
  }
}
