@import "../../assets/stylesheets/_variables.scss";

.modal {
  width: 40%;
  background-color: $color-gray-bkg;
  color: $color-black;
  z-index: 1;
}

.overlay {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 99;
  width: 100%;
  background: $color-primary-opacity;
  transition: opacity 0.2s ease;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.cards-box {
  padding: 0 20px;
}

@media only screen and (max-width: $breakpoint-desktop) {
  .modal {
    width: 100%;
  }
}