.navbar {
  width: 100vw;
  height: 15vh;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 5% 0;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 4px 40px #00000040;
}

.navbar__logo {
  display: flex;
  height: 34px;
  width: 202px;
  position: relative;
}
