@import "../../assets/stylesheets/_variables.scss";
@import "../../assets/stylesheets/_placeholders.scss";

.navbar {
  background-color: $color-white;
  @extend %box-shadow-strong;

  &--mobile {
    display: flex;
    flex-direction: column;
  }

  &__elements {
    padding: 2% 0;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: 34px;
  }

  &__search-button {
    display: none;
  }
}

@media only screen and (min-width: $breakpoint-desktop) {
  .navbar {
    &__arrow-button {
      display: none;
    }

    &__search-button {
      display: inline-block;
    }

    &__elements {
      padding: 1% 0;

      &--desktop {
        width: 10%;
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
