.search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search__input {
  width: 80%;
  border: 1px solid #c4c4c4;
  padding: 5px;
  height: 30px;
  border-radius: 7px;
  outline: none;
  font-size: 15px;
  margin-top: 2%;
}

.search__input:focus {
  border: 2px solid var(--color-primary);
}

.search__button {
  width: 26px;
  height: 20px;
  position: absolute;
  border: none;
  background: #fff;
  margin: 4.5% 0 0 34%;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .search__button {
    margin: 3.5% 0 0 36%;
  }
}

@media only screen and (min-width: 1024px) {
  .search {
    width: 10%;
    justify-content: initial;
  }

  .search__input {
    display: none;
  }

  .search__button {
    margin: 0;
    font-size: 20px;
    position: unset;
    display: flex;
  }
}
