@import "../../assets/stylesheets/_variables.scss";

.card-shop {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid $color-gray-light;
  box-sizing: border-box;
  text-align: center;

  &__img {
    position: relative;
    width: 30%;
    margin-right: 15px;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    margin-right: 15px;
    text-align: left;

    .product-title {
      font-size: $font-size-14;
      width: 65%;
    }
  }

  &__infos {
    width: 70%;
  }

  &__btn-delete {
    width: 100%;
    margin: 5px 0;
    border: none;
    color: $color-primary;
    background-color: transparent;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  &__product-name {
    flex-wrap: wrap;
  }

  &__size {
    display: block;
    margin-bottom: 20px;
    font-size: $font-size-16;
    color: $color-gray-dark;
  }

  &__quantity-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    padding: 0;
    height: 25px;
  }

  &__quantity-icon {
    color: $color-primary;
    font-size: $font-size-20;
  }

  &__quantity-number {
    color: $color-black;
    font-size: $font-size-18;
    margin: 0 10px;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }

  .product-price {
    font-size: $font-size-14;
  }

  .product-installment {
    font-size: $font-size-14;
    width: 100%;
  }
}
