@import "../../assets/stylesheets/_variables.scss";

.card-search {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid $color-gray-light;
  box-sizing: border-box;
  text-align: center;
  background-color: $color-gray-bkg;

  &__img {
    position: relative;
    width: 30%;
    margin-right: 15px;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    margin-right: 15px;
    text-align: left;

    .product-title {
      font-size: $font-size-14;
      width: 65%;
    }
  }

  &__product-name {
    flex-wrap: wrap;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
  }

  .product-price {
    font-size: $font-size-14;
  }

  .product-installment {
    font-size: $font-size-12;
  }
}
