@mixin flexbox($flex-direction, $align-items, $justify-content: $justify-content) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin container-box {
    width: 92%;
    max-width: 1200px;
    margin: 0 auto;
}