//colors
$color-primary: #b99bb5;
$color-white: #ffffff;
$color-black: #212429;
$color-gray-bkg: #f9f9f9;
$color-gray-dark: #8b8b8b;
$color-gray-light: #c4c4c4;

//fonts
$font-family: 'Montserrat', sans-serif;
$font-size-12: 0.86rem;
$font-size-14: 1rem;
$font-size-16: 1.14rem;
$font-size-18: 1.28rem;
$font-size-20: 1.43rem;
$font-size-22: 1.6rem;
$font-size-24: 1.7rem;
