@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

@import "./variables";
@import "./mixins";
@import "./placeholders";

html {
  font-family: $font-family;
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  margin: 0;

  button,
  input {
    font-family: $font-family;
  }

  figure {
    margin: 0;
  }
}
